.jumbotron a
{
   background-image: url('http://images.akamai.steamusercontent.com/ugc/3334089288435393743/6CA8D6DC8F3C0A3870D6816C6F1B4BC1575D140B/?interpolation=lanczos-none&output-format=jpeg&output-quality=95&fit=inside%7C268:268&composite-to=*,*%7C268:268&background-color=black');
   height: 100px;
   background-repeat: no-repeat;
   background-size: cover;
}

.jumbotron h1
{
    text-align: center;  
    font-family: "Raleway";
    font-weight: bold;
}

.jumbotron p
{
    font-weight: lighter;
}