.jumbotron
{
    background-color: white;
    
    background-image: url("Rebel-Alliance-Flag2.png");
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    
    padding-bottom: 50px;
    
    border-bottom: 2px solid grey;
    color: white;
    text-align: center;  
    font-family: "Raleway";
    font-weight: bold;
}

.jumbotron p
{
    font-size: 35px;
}

.overview
{
    padding-bottom: 40px;
}


.overview h3
{
    font-family: "Raleway";
    font-size: 35px;
    text-decoration: underline;
    color: black;   
}

.overview .container ul
{
    font-size: 20px;
    font-family: "Raleway";   
}

/*
.overview .container img
{
    position: relative;
    left: 800px;
}
*/


.joinInfo
{
    padding-bottom: 120px;
}


.joinInfo h3
{
    font-family: "Raleway";
    font-size: 35px;
    text-decoration: underline;
}

.joinInfo .container ul
{
    font-size: 20px;
    font-family: "Raleway";
}

.posters .container h2
{
    font-family: "Raleway";
    font-size: 35px;
    text-decoration: underline;
    color: black;
    
    padding-bottom: 50px;
}

.posters .spacer-Left
{
    padding-top: 118px;
}

.posters .spacer-Right
{
    padding-top: 118px;
}