
.jumbotron h1
{
    background-image: url("rebelBackgroundLogo.jfif");
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    padding-top: auto;
    
    color: white;
    text-align: center;  
    font-family: "Raleway";
    font-weight: bold;
}

.jumbotron .container
{
    text-align: center;
}